# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Testing and development cache
.pytest_cache/
.mypy_cache/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/